/* 全体のリセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
  background: url(../../img/p0522_l\ 6.png);
  color: #fff;
}

.header a {
  text-decoration: none;
  font-family: "Sawarabi Mincho", serif;
  color: black;
  font-size: 23px;
}

.nav {
  display: flex;
  align-items: center;
  writing-mode: horizontal-tb;
    width: 40%;       
  gap: 4%;   
  

}

.nav a {
 display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 14px;
  letter-spacing: 0.05em;
}

.nav a::after {
  display: block;
  text-align: center;
  margin-top: 2px;
  white-space: pre;
  font-size: 12px;
}


/* 1つ目：レストランベルンドルフ */
.nav a:nth-child(1)::after {
  content: "ベルンドルフ";
}

/* 2つ目：ガラス体験工房 森のくに */
.nav a:nth-child(2)::after {
  content: "森のくに";
}

/* 3つ目：ホテルベルンドルフ */
.nav a:nth-child(3)::after {
  content: "ベルンドルフ";
}

/* お知らせ・お問い合わせは2行にしない */
.nav a:nth-child(4)::after,
.nav a:nth-child(5)::after {
  content: "";
}

/* 
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  cursor: pointer;
}

/* 各行（丸＋バー）を横並びに */
/* .line {
  display: flex;
  align-items: center;
  gap: 4%; /* 丸とバーの間隔 */

/* 小さい丸 */
/* .dot {
  width: 6px;
  height: 6px;
  background-color: #000000;
  border-radius: 50%;
}

/* 三本線 */
/* .bar {
  display: block;
  width: 25px;
  height: 4px;
  background-color: #000000;
  border-radius: 2px;
} */
