body {
  background-image: url(../assets/images/hotel/background.png);
  width: 100%;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.header {
  background-image: url(../assets/images/hotel/ホテルヘッダー背景.png);
  aspect-ratio: 1440 / 652;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header__ttl {
  color: white;
  font-family: "Sawarabi Mincho", serif;
  font-size: 32px;
  position: absolute;
  top: 48px;
  left: 57px;
}

.header__catch {
  color: white;
  font-family: "Sawarabi Mincho", serif;
  font-size: clamp(24px, 6vw, 64px);
  text-wrap: nowrap;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .header {
    aspect-ratio: 393 / 470;
  }

  .header__ttl {
    font-size: 36px;
    background-color: #00000030;
    box-shadow: 0 0 30px #00000080;
    border-radius: 5px;
  }

  .header__catch {
    font-size: 36px;
    justify-content: center;
  }
}

.info_bar--sp {
  display: none;
}

.info_bar--pc {
  display: flex;
  width: 100%;
  min-width: 0;
  margin: 10px;
  font-family: "Sawarabi Mincho", serif;
  font-size: 20px;
  box-sizing: border-box;
}
  
.info_bar__item {
  display: flex;
  justify-content: flex-start;
}

.info_bar__pair {
  display: inline-flex;
  flex-wrap: wrap;
  row-gap: 5px;
  
}

.info_bar__item-dt {
  text-align: right;
  position: relative;
  font-weight: 600;
}

.info_bar__item-dt::after {
  content: "：";
  margin-left: 0.25rem;
  color: #868686;
}

.info_bar__item-dd {
  margin: 0;
  color: #868686;
}

.info_bar__tel {
  align-items: center;
}

.info_bar--pc address {
  font-family: "Sawarabi Mincho", serif;
  font-size: 22px;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  .info_bar--pc {
    display: none;
  }

  .info_bar--sp {
    display: block;
    row-gap: 10px;
    margin: 10px;
  }

  .info_bar__item {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 8px;
    column-gap: 5px;
    font-family: "Sawarabi Mincho", serif;
    font-size: 20px;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .info_bar__item-dt::after {
    content: "：";
    color: #868686;
  }

  .info_bar--sp address {
    font-family: "Sawarabi Mincho", serif;
    font-size: 18px;
    font-style: normal;
    color: #868686;
    text-align: right;
  }
}


hr.double_line {
  border: none;
  height: 0;
  width: 100%;
  margin: 10px auto;
  position: relative;
}

hr.double_line::before,
hr.double_line::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #B8A36C;
  margin: 5px 0;
}


.news {
  background-color: #ffffff;
  margin: 50px;
  display: flex;
  border: 1px #EAD4B6 solid;
  font-family: "Sawarabi Mincho", serif;
  justify-content: center;
  align-items: center;
}

.news__ttl {
  font-size: 36px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.news__move {
  border: 1px #B8A36C solid;
  border-radius: 10px;
  font-size: 17px;
  padding: 5px;
}

.news__card {
  border-radius: 5%;
  box-shadow: 0 4px 10px #00000026;
  overflow: hidden;
  margin: 10px;
  width: 15%;
  height: auto;
}

.news__card img {
  width: 100%;
}

.news__card h3,
.news__card p {
  margin: 10px;
}

.news__color {
  display: block;
  width: 100%;
  height: 10px;
  background-color: #fff61b59;
}

@media screen and (max-width: 768px) {
  .news {
    margin: 20px;
    gap: 15px;
    display: block;
    text-align: center;
  }

  .news__header {
    display: flex;
    margin: 10px;
    justify-content: space-between;
  }

  .news__ttl {
    font-size: 24px;
    margin: 0;
  }

  .news__move {
    font-size: 14px;
    padding: 4px 8px;
  }

  .news__card {
    display: inline-block;
    box-sizing: border-box;
    min-width: 45%;
    text-align: left;
  }

  .news__card h3,
  .news__card p {
    font-size: 14px;
    margin: 8px;
  }
}

.intro {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.intro__left {
  width: 70%;
}

.intro__lead--sp {
  display: none;
}

.intro__img {
  width: 100%;
}

.intro__p {
  font-size: 20px;
  font-family: "Sawarabi Mincho", serif;
  margin-top: 20px;
  line-height: 140%;
}

.intro__right {
  position: relative;
  width: 30%;
  text-align: center;
}

.intro__lead-deco {
  margin-top: -20px;
}

.intro__lead-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 90%;
  height: 100%;
  background-image: url("../assets/images/hotel/ホテルリード文△.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

.intro__lead--pc {
  position: absolute;
  right: 0;
  bottom: 50px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: "Sawarabi Mincho", serif;
  font-size: 52px;
  line-height: 1.5;
  letter-spacing: 0.2em;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .intro {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .intro__left {
    width: 100%;
    align-items: center;
    position: relative;
  }

  .intro__img {
    width: 100%;
    height: auto;
    display: block;
  }

  .intro__p {
    font-size: clamp(14px 2vw 20px);
    font-family: "Sawarabi Mincho", serif;
    margin-top: 20px;
    line-height: 140%;
  }

  .intro__right {
    display: none;
  }

  .intro__lead--sp {
    display: block;
    position: absolute;
    right: auto;
    top: 10%;
    width: 100%;
    text-align: center;
    font-family: "Sawarabi Mincho", serif;
    font-size: 48px;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    line-height: 1.5;
    letter-spacing: 0.2em;
  }
}

.banner {
  width: 90%;
  margin: 60px auto;
}

.banner__link {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1178px;
  margin: 0 auto;
}

.banner__img {
  display: block;
  width: 100%;
  height: auto;
}

.banner__txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: clamp(24px, 6vw, 48px);
  white-space: nowrap;
  font-family: "Sawarabi Mincho", serif;
  text-align: center;
  z-index: 1;
  text-shadow: -1px -1px 0 #535C66, 1px -1px 0 #535C66, -1px 1px 0 #535C66, 1px 1px 0 #535C66;
}

.menu__ttl {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Sawarabi Mincho", serif;
  font-size: 40px;
  margin: 60px 0;
}

.menu__ttl::before,
.menu__ttl::after {
  display: block;
  flex: 1;
  height: 10px;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 100% 100%;
  content: "";
}

.menu__ttl::before {
  background-image: url(../assets/images/hotel/ttl_left.png);
  margin-right: 30px;
}

.menu__ttl::after {
  background-image: url(../assets/images/hotel/ttl_right.png);
  margin-left: 30px;
}

.menu__rooms {
  margin: 40px 0;
}

.room__ttl {
  position: relative;
  width: 100%;
  display: inline-block;
  margin: 0 20px;
}

.room__ttl-img {
  width: 40%;
  height: auto;
  display: block;
}

.room__ttl-text {
  position: absolute;
  top: 50%;
  left: 22%;
  transform: translate(-50%, -50%);
  font-family: "Sawarabi Mincho", serif;
  font-size: clamp(32px, 3vw, 40px);
}

.room__imgs {
  display: flex;
  gap: 0;
  width: 95%;
}

.room__img1 {
  width: 100%;
  max-width: 44%;
}

.room__img-small {
  display: flex;
  max-width: 56%;
  flex-wrap: wrap;
}

.room__img2,
.room__img3 {
  width: 100%;
  max-width: 50%;
  height: auto;
  object-fit: contain;
  object-position: top;
}

.room__info {
  font-family: "Sawarabi Mincho", serif;
  font-size: 24px;
  width: 100%;
}

.room__price {
  margin: 20px;
}

.room__detail--link {
  display: block;
  text-align: center;
  margin: 20px;
  padding: 10px;
  color: #ffffff;
  background-color: #B8A36C;
  border-radius: 10px 10px;
}

.room__detail--link::after {
  content: " ＞";
}

@media screen and (max-width: 768px) {
  .menu__rooms {
    margin: 20px auto;
    text-align: center;
  }

  .room__ttl {
    width: 100%;
    display: inline-block;
    margin: 20px;
  }

  .room__ttl-img {
    width: 50%;
    display: inline-block;
  }

  .room__ttl-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24px;
    transform: translate(-50%, -50%);
  }

  .room__imgs {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .room__img1 {
    width: 90%;
    max-width: 90%;
  }

  .room__img-small {
    display: block;
    width: 100%;
    max-width: none;
    margin: 0 auto;
    flex-wrap: nowrap;
    text-align: center;
  }

  .room__img2,
  .room__img3 {
    width: 90%;
    max-width: 90%;
    height: auto;
    object-fit: contain;
    object-position: none;
    margin-bottom: 10px;
  }

  .room__info {
    font-size: 20px;
  }

  .room__detail--link {
    margin-bottom: 40px;
  }
}

.menu__guide {
  font-family: "Sawarabi Mincho", serif;
  font-size: 24px;
  display: flex;
  align-items: stretch;
  gap: 20px;
}

.guide__content {
  display: flex;
  gap: 24px;
}

.guide__left,
.guide__right {
  max-width: 45%;
  margin: 0 10px;
}

.guide__list {
  margin-bottom: 15px;
}

.guide__list::before {
  content: "★";
}

.meal::before {
  content: "・";
}

.color__red {
  color: #ff0000;
}

.color__blue {
  color: #1b24ff;
}

.guide__deco {
  width: 30%;
  margin-top: -50px;
  float: right;
}

@media screen and (max-width: 768px) {
  .menu__guide {
    font-size: 20px;
    gap: none;
  }

  .guide__content {
    display: block;
    gap: none;
  }

  .guide__left,
  .guide__right {
    max-width: 100%;
    margin: 0 20px;
  }

  .guide__list ul {
    margin-top: 15px;
  }
}

.amenities__ttl {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Sawarabi Mincho", serif;
  font-size: 40px;
  margin: 60px 0;
}

.amenities__ttl::before,
.amenities__ttl::after {
  display: block;
  flex: 1;
  height: 10px;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 100% 100%;
  content: "";
}

.amenities__ttl::before {
  background-image: url(../assets/images/hotel/ttl_left.png);
  margin-right: 30px;
}

.amenities__ttl::after {
  background-image: url(../assets/images/hotel/ttl_right.png);
  margin-left: 30px;
}

.amenities__gallery {
  width: 90%;
  margin: 0 auto;
}

.amenities__gallery img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slick-slider {
  width: 80%;
}

.amenities__gallery .slick-slide {
  height: 500px;
}

.slick-next.slick-arrow:before,
.slick-prev.slick-arrow:before {
  color: #000000;
}

.amenities__table,
.amenities__th,
.amenities__td {
  border: 1px solid #000000;
  margin: 20px auto;
  padding: 20px;
  font-family: "Sawarabi Mincho", serif;
  font-size: 16px;
}

.amenities__table {
  width: 90%;
}

.amenities__td li::before {
  content: "・";
}

.amenities__th {
  background-color: #B8A36C80;
  vertical-align: middle;
}

.ul_grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 1fr;
  grid-template-rows: repeat(4, auto);
  gap: 10px;
}

.amenities__note {
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .amenities__table {
    display: block;
    width: 90%;
    margin: 20px auto;
    border: none;
  }

  .amenities__th,
  .amenities__td {
    display: block;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
  }

  .ul_grid {
    display: block;
    grid-auto-flow: none;
    grid-auto-rows: none;
    grid-template-rows: none;
    gap: none;
  }

  .ul_grid li {
    margin-bottom: 10px;
  }
}

.large_bath__ttl {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Sawarabi Mincho", serif;
  font-size: 40px;
  margin: 60px 0;
}

.large_bath__ttl::before,
.large_bath__ttl::after {
  display: block;
  flex: 1;
  height: 10px;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 100% 100%;
  content: "";
}

.large_bath__ttl::before {
  background-image: url(../assets/images/hotel/ttl_left.png);
  margin-right: 30px;
}

.large_bath__ttl::after {
  background-image: url(../assets/images/hotel/ttl_right.png);
  margin-left: 30px;
}

.budonoyu__ttl {
  position: relative;
  width: 100%;
  display: inline-block;
  margin: 0 20px;
}

.budonoyu__ttl--text {
  position: absolute;
  top: 50%;
  left: 17%;
  transform: translate(-50%, -50%);
  font-family: "Sawarabi Mincho", serif;
  font-size: 40px;
}

.budonoyu__wrapper {
  display: grid;
  grid-template-columns: 1.5fr 0.75fr 0.75fr;
  grid-template-rows: 1fr 1fr;
  margin: 20px 3%;
  gap: 3%;
}

.budonoyu__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.budonoyu__img1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.budonoyu__info {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  font-family: "Sawarabi Micho", serif;
  margin-left: 4%;
}

.info__ttl {
  font-size: 32px;
}

.info__dl {
  margin-top: 10px;
  font-size: 24px;
}

.info__dtdd {
  display: flex;

}

.budonoyu__img2 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.budonoyu__img3 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

@media screen and (max-width: 768px) {
  .budonoyu__ttl {
    text-align: center;
  }

  .budonoyu__ttl--text {
    position: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
  }

  .budonoyu__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 20px auto;
    gap: 20px;
  }

  .budonoyu__info {
    order: 1;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .info__ttl {
    text-align: center;
  }

  .info__dl {
    display: inline-block;
    text-align: left;
    margin: 10px auto;
  }

  .info__dtdd {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .budonoyu__img1 {
    order: 2;
    width: 100%;
    flex: 0 0 100%;
  }

  .budonoyu__img2 {
    order: 3;
    flex: 1;
  }

  .budonoyu__img3 {
    order: 4;
    flex: 1;
  }
}