@charset "utf-8";
html, body {  
  font-family: "Sawarabi Mincho", serif;
  font-weight: 400;
  font-style: normal;
}
#restaurant .section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}

#restaurant .section-title::before,
#restaurant .section-title::after {
  content: "";
  flex-grow: 1;
  border-top: 5px double #B8A36C;
}

#restaurant .menu-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
    margin: 5% 5% ;
}

#restaurant .menu-item {
    text-align: center;
}

#restaurant .menu-item img {
    width: 100%;
    height: auto;
}

#restaurant .menu-item .cooking {
    width: 70%;
}

#restaurant #set-info {
    margin-left: 68%;
}

#restaurant .wine-glass {
    width: 80%;
    margin-left: 30%;
    margin-top: -30%;
}

#restaurant .middle-lines {
    width: 100%;
    max-width: 600px;
    margin-left: 15%;
    height: 20px;
    position: relative;
    margin-top: 1%;
}

#restaurant .middle-lines::before,
#restaurant .middle-lines::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #c2a661;
}

#restaurant .middle-lines::before {
    top: 6px;
}

#restaurant .middle-lines::after {
    bottom: 6px;
}

#restaurant #wine-line-section {
    display: flex;
}

#restaurant .menu-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
}

#restaurant .menu-box {
    text-align: center;
}

#restaurant #side-info {
    margin-left: 66%;
}

#restaurant .double-line {
    border-top: 1px solid #c8ab75;
    border-bottom: 1px solid #c8ab75;
    height: 8px;
    margin: 20px 0;
}

#restaurant .menu-title--2gyo{
    margin-top: 8.5%;
    margin-bottom: 8.5%;
}

#restaurant .menu-title--3gyo {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

#restaurant .menu-name {
    margin-top: 2.5%;
}

#restaurant .menu-title--two-lines {
    margin-top: 5%;
    margin-bottom: 8%;
}

/* WEIN */
#restaurant #wine-title {
    font-size: 40px;
    color: #63173B;
    margin-top: 5%;
    margin-left: 2%;
}

#restaurant .wine-icon {
    width: 10%;
    height: 10%;
    margin-left: 65%;
}

#restaurant .wine-header{
    display: flex;
    margin-left: 11%;
    margin-top: 3%;
}

#restaurant .wine-section {
  width: 90%;
  height: 100%;
  background-color: #fff;
  border: 2px solid #B8A36C;
  margin-bottom: 10%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}

#restaurant .wine-contents {
  font-size: 16px;
  margin: 3% 5%;
}

#restaurant .wine-item {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: start;
    margin-bottom: 3%;
}

#restaurant .wine-text {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#restaurant .wine-price {
    font-size: 16px;
    text-align: right;
    min-width: 120px;
}

#restaurant .price-glass {
    padding: 2%;
}

#restaurant .wine-name {
    font-size: 25px;
    margin: 0;
    white-space: nowrap; 
}

#restaurant .wine-description {
    margin-left: 7.5%;
    padding: 2% 0;
}

#restaurant .price-bottle {
    border-bottom: 1px solid #B8A36C;
    padding-bottom: 3%;
    display: inline-block;
    margin-top: -20%;
}

/* ドリンク */
#restaurant .drink-section {
  width: 90%;
  height: 100%;
  background-color: #fff;
  border: 2px solid #B8A36C;
  margin-bottom: 10%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
}

#restaurant .drink-contents {
  font-size: 16px;
  margin: 3% 5%;
}

#restaurant .drink-header {
    margin-left: 13.5%;
    margin-top: -5%;
    margin-bottom: 3%;
}

#restaurant #drink-title {
    font-size: 40px;
}

#restaurant .drink-icon {
    width: 10%;
    height: 10%;
    margin-left: 65%;
}

#restaurant .drink-item {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: start;
    margin-bottom: 3%;
}

#restaurant .drink-name {
    font-size: 25px;
}

#restaurant .drink-price {
    font-size: 20px;
    padding: 3% 0;
}

#restaurant .drink-image {
    width: 10%;
    margin-left: 88%;
    margin-top: -60%;
}

#restaurant .drink-price {
    width: 20%;
    border-bottom: 1px solid #B8A36C;
    padding-bottom: 3px;
    display: inline-block;
}
