.restaurant {
    font-family: 'Sawarabi Mincho', serif;
    background-color: #f5f5f5;
    padding: 0 168px;
}
.restaurant .interior img{
    width: 50%;
    padding: 1
}

.restaurant .intro-txt{
    width: 50%;
}

.restaurant .line {
    border-bottom: double;
    border-color: #B8A36C;
    width: 701px;
    margin: 40px auto 80px auto;
}

.restaurant .supplement {
    text-align: right;
}


/* food */
.restaurant .title {
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
}

.restaurant .foodmenu {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.foodmenu::before,
.foodmenu::after {
    background-color:#B8A36C;
    content: "";
    flex-grow: 1;
    height: 2px;
}

.foodmenu::before {
    margin-right: 50px;
}
.foodmenu::after {
    margin-left: 50px;
}


.restaurant .food img {
    width: 281px;
    height: 188px;
    border-radius: 2px;
}

.restaurant .in-rice {
    display: flex; 
    flex-wrap: wrap;
    gap: 144px;
    justify-content: center;
}
.restaurant .no-rice {
    display: flex; 
    flex-wrap: wrap;
    gap: 144px;
    justify-content: center;
}
.restaurant .food p {
    font-size: 24px;
    text-align: center;
}

/* ワイン */
.restaurant details summary{
    color: #63173B;
}

.restaurant details {
    text-align: center;
    margin-bottom: 0px;
}

.restaurant .menu-box{
    background-color: white;
    border: solid 1px #B8A36C;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
}

.restaurant .menu-title{
    font-size: 32px;
}

.text-color{
    color:#880A45;
}


.group-a img{
    width: 100%;
}


/* 上部へ戻るサンプル！！！！！後で消す！！！ */

/* トップへ戻るボタン */
.page-top-btn {
    width: 100px;
    height: 100px;
    position: fixed;
    right: 107px;
    bottom: 80px;
    background: #e2540796;
    border-radius: 50%;

    opacity: 0;
    visibility: hidden;
    /* background: 100%; */
}

.active{
    opacity: 1;
    visibility: visible;
}

/* ホバーしたとき */
.page-top-btn:hover {
    background: rgb(255, 0, 0, 0.8);
    color: rgb(255, 255, 255, 0.8);
} 


/* Topへゆっくりスクロール */
html{
  scroll-behavior: smooth;
}
